// Footer

.page-footer {
    background-color: #181828;
    color: #99a9b5;
}

.page-footer {
    padding-top: 20px;
    //color: $footer-font-color;
    //background-color: $footer-bg-color;
  
    .footer-copyright {
      overflow: hidden;
      min-height: 50px;
      //display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0px;
      color: $footer-copyright-font-color;
      background-color: $footer-copyright-bg-color;
    }
  }
  